<!DOCTYPE html>
<html>
<head>
  <% include ../views/partials/head.ejs %>
</head>
<body id="search">
  <header>
    <% include ../views/partials/header.ejs %>
  </header>
  <div class="rooms-container">
    <div id="search-container">
      <h3>Search for a Song:</h3>
      <br>
      <form action="/rooms/<%= room.id %>/songs" method="POST">
        <label id="text" for="search"><strong>Search for a song:</strong></label>
        <input type="text" name="search" id="search-box">
        <br>
        <button class="btn">Search</button>
      </form>
    </div>
    <div id="results-container">
    <% if(room.searchResults.length > 0){ %>
      <hr>
      <br>
      <h3>Search Results:</h3>
      <br>
      <% for(var i = 0; i < room.searchResults.length; i++){ %>
        <div id="search-results">
          <div id="title">
            <strong><%= room.searchResults[i].title %></strong>
          </div>
          <div id="image">
            <img src="<%= room.searchResults[i].img %>">
          </div>
          <form id="queue-btn" action="/rooms/<%= room.id %>/songs" method="POST">
            <input type="hidden" name="id" value="<%= room.searchResults[i].id %>"/>
            <input type="hidden" name="_method" value="PUT"/>
            <button class="btn btn-small">Add Song To Queue</button>
          </form>
          <hr>
        </div>
      <% } %>
    <% } %>
    </div>
  </div>
</body>
</html>
